html, body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: black;
}

/*					*/
/* CHATBOX REACTION */
/*					*/

.chatbox-container img {
	width: 100%;
}

/*					  */
/* REACTIONS KEYBOARD */
/*					  */

.reactions-wrapper {
	position: fixed;
	overflow: scroll;
	bottom: 0;
	border: 1px solid black;
}
	ul.all-reactions {
		margin: 0;
		padding: 0;
		display: flex;
		/*justify-content: space-around;*/
		flex-flow: row wrap;
		height: 100px;
	}
		li.single-reaction-button {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 0 0;
			min-width: 150px;
			height: 50px;
			color: white;
			/*background-color: white;*/
			background: rgba(255, 255, 255, 0.2);
			background-size: cover;
			/*background-image: url('../assets/reaction_images/agree.gif');*/
			background-position: -20px;
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
		li.single-reaction-button:hover {
			cursor: pointer;
			background-image: url('../assets/reaction_images/agree.gif');
			/*background: transparent;*/
			background: rgba(255, 255, 255, 0.1);
		}